<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
<body>
  {{> header}}
纬度: {{lat}}, 经度:{{lng}}</br>
{{addr}}</br>
目前室温 {{temperature}}</br>
体表温度 {{apparentTemperature}}
  {{>footer}}
</body>
<html>
